body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.carousel {
  position: relative;
}

.carousel-cell--wrapper {
  position: relative;
  height: 30rem;
}
.carousel-cell {
  height: 30rem;
  width: 100vw;
  opacity: 0;
  position: absolute;
  display: grid;
  font-size: 10rem;
  place-items: center;
  transition: 1s;
}
.carousel-cell.active {
 opacity: 1;
  z-index: 1;
}
.carousel-cell:nth-child(odd) {
  background: rgb(2,36,0);
  background: linear-gradient(90deg, rgba(2,36,0,0.8758096988795518) 0%, rgba(121,60,9,0.7917760854341737) 35%, rgba(255,224,0,1) 100%);
}
.carousel-cell:nth-child(even) {
  background: rgb(2,36,0);
background: linear-gradient(90deg, rgba(2,36,0,0.8758096988795518) 0%, rgba(34,210,249,0.7917760854341737) 35%, rgba(187,23,23,1) 100%);
}

.nextprewbuttons{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  z-index: 2;

}


.nextprewbuttons span {
  background: #fff;
  padding: 6px;
  border-radius: 50%;
}
.slide-with--index{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}


.slide-with--index span:nth-child(odd) {
  background: rgb(2,36,0);
  background: linear-gradient(90deg, rgba(2,36,0,0.8758096988795518) 0%, rgba(121,60,9,0.7917760854341737) 35%, rgba(255,224,0,1) 100%);
  padding: 14px;
  border-radius: 55%;
}
.slide-with--index span:nth-child(even) {
  background: rgb(2,36,0);
background: linear-gradient(90deg, rgba(2,36,0,0.8758096988795518) 0%, rgba(34,210,249,0.7917760854341737) 35%, rgba(187,23,23,1) 100%);
  padding: 14px;
  border-radius: 55%;
}
.add-or--remove{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  padding: 3rem;
}

button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 20rem;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
